.thumbnail {
    border: none;
    display: flex;
    flex-flow: row wrap;
}

.thumbnail img {
    padding: 15px 0;
    cursor: pointer;
}

.thumbnail img:hover {
    transform: scale(1.1);
}

.full {
    padding: 15px 0;
}
